//////////////////
// IMPORT FONTS //
//////////////////

// The font (Inter) is free and open source. The following import
// snippet was freely taken from their website https://rsms.me/inter/.

// Note that the font has features, to be enabled with
// `font-feature-settings`: https://rsms.me/inter/#faq-using-features.

// Btw, as per the website, it is safe to import the font from rsms.me
// directly:
// > How reliable are the fonts served from rsms.me/inter?
// >
// > "https://rsms.me/inter/inter.css" and the Inter font files are
// > distributed globally over CloudFlare’s CDN. This is very reliable
// > and fast by automatically serving the fonts from a server near your
// > users, minimizing the latency of your web pages.

\:root
  font-family: Inter, sans-serif
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'frac' 1, 'cv10' 1

@supports (font-variation-settings: normal)
  \:root
    font-family: InterVariable, sans-serif


//////////////////////
// GENERAL SETTINGS //
//////////////////////

$vp_width: 85%

html
    height: 100vh

body
    height: 100vh

    // Center, fix width
    margin: auto
    max-width: $vp_width

    // For the sticky footer:
    display: flex
    flex-direction: column

main
    // For the sticky footer:
    flex: 1 0 auto

footer
    text-align: center
    // Display the footer as a flex, with two main rows/lines
    // N.b. These two lines are div's without class or id
    display: flex
    flex-direction: column
    // For the sticky footer:
    flex-shrink: 0

.material-resource-div
    background: red
    width: 100vw
    margin-left: 50%
    transform: translateX(-50%)
    display: block
    text-decoration: none

.material-resource-title
    width: $vp_width
    margin: 0 auto


////////////////////////////////////////
// SIZES, MARGINS, PADDING, AND STUFF //
////////////////////////////////////////

$material-top-bottom-padding: 16px

.material-resource-div
  padding:
    bottom: $material-top-bottom-padding
    top: $material-top-bottom-padding

footer
  margin-top: 80px

////////////
// COLORS //
////////////

// 2-color palette: https://coolors.co/32127a-f9f8f8

$gradient-4: #32127A
$gradient-3: #4118A0
$gradient-2: #4F1DC3
$gradient-1: #602ADF
$white: #F9F8F8

body, html
    background: $white

.material-resource-title
    color: $white

.material-resource-div
  /* CSS data attributes, yeah
  &[data-type="Poly"]
    background-color: $gradient-4
  &[data-type="TD"]
    background-color: $gradient-3
  &[data-type="Anales"]
    background-color: $gradient-2
  &[data-type="Misc"]
    background-color: $gradient-1

footer, footer a
    color: grey

///////////////////
// FONT SETTINGS //
///////////////////

#course-titles h1
  font-weight: 700
  font-size: 60px
  text-transform: uppercase

#course-titles h2
  font-weight: 200

#course-titles #course-titles-title
  font-style: italic

/////////////////
// A FEW NOTES //
/////////////////

// - For sticky footers, see: https://css-tricks.com/couple-takes-sticky-footer/
// - For converting CSS to SASS, see: https://css2sass.herokuapp.com/ 
// - Documentation for SASS variables: https://sass-lang.com/documentation/variables/
// - Careful if you use @import, it is deprecated as of Dart Sass 1.80:
         https://sass-lang.com/blog/import-is-deprecated/
// - Data attributes in CSS: https://css-tricks.com/a-complete-guide-to-data-attributes/
// - SASS hashmaps/dictionnaries: https://sass-lang.com/documentation/values/maps/

// A few beautiful palettes:
// - Persian indigo and Wisteria: https://coolors.co/32127a-bc96e6
