$vp_width: 800px

html
    height: 100vh

body
    height: 100vh

    /* Center, fix width
    margin: auto
    max-width: $vp_width

    /* For the sticky footer:
    display: flex
    flex-direction: column

main
    /* For the sticky footer:
    flex: 1 0 auto

footer
    /* For the sticky footer:
    flex-shrink: 0

.material-resource-div
    background: red
    width: 100vw
    margin-left: 50%
    transform: translateX(-50%)
    display: block
    text-decoration: none

.material-resource-title
    width: $vp_width
    margin: 0 auto
    padding: 20px 0


/* A few notes:
/* - For sticky footers, see: https://css-tricks.com/couple-takes-sticky-footer/
/* - For converting CSS to SASS, see: https://css2sass.herokuapp.com/ 
/* - Documentation for SASS variables: https://sass-lang.com/documentation/variables/
/* - Careful if you use @import, it is deprecated as of Dart Sass 1.80:
         https://sass-lang.com/blog/import-is-deprecated/
