{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <h2>{{ .Params.Université }}, {{ .Params.Niveau }} </h2>

  <!-- Download course material -->

  <section id='material'>

    <!-- There is only one file per material category (poly, td, etc), -->
    <!-- so one can use GetMatch instead of Match.                     -->

    {{ with .Resources.GetMatch "*-poly.*" }}
      <a href='{{ . }}'>Poly</a>
    {{ end }}

    {{ with .Resources.GetMatch "*-td.*" }}
      <a href='{{ . }}'>TD</a>
    {{ end }}

    {{ with .Resources.GetMatch "*-anales.*" }}
      <a href='{{ . }}'>Anales</a>
    {{ end }}

    {{ with .Resources.GetMatch "*-misc.*" }}
      <a href='{{ . }}'>Misc</a>
    {{ end }}

  </section>

  <section id='meta'>

    <div id='content'>
    
      {{ .Content }}

    </div>

    <div id='stats'>

    </div>

  </section>

{{ end }}
