{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <h2>{{ .Params.Université }}, {{ .Params.Niveau }} </h2>

  <!-- Download course material -->

  <section id='material'>

    <!-- There is only one file per material category (poly, td, etc), -->
    <!-- so one can use GetMatch instead of Match.                     -->

    {{ with .Resources.GetMatch "*-poly.*" }}
    <a href='{{ . }}' class='material-resource-div'>
      <h1 class='material-resource-title'>Poly</h1>
    </a>
    {{ end }}

    {{ with .Resources.GetMatch "*-td.*" }}
    <a href='{{ . }}' class='material-resource-div'>
      <h1 class='material-resource-title'>TD</h1>
    </a>
    {{ end }}

    {{ with .Resources.GetMatch "*-anales.*" }}
    <a href='{{ . }}' class='material-resource-div'>
      <h1 class='material-resource-title'>Misc</h1>
    </a>
    {{ end }}

    {{ with .Resources.GetMatch "*-misc.*" }}
    <a href='{{ . }}' class='material-resource-div'>
      <h1 class='material-resource-title'>Misc</h1>
    </a>
    {{ end }}

  </section>

  <section id='meta'>

    <div id='content'>
    
      {{ .Content }}

    </div>

    <div id='stats'>

    </div>

  </section>

{{ end }}
